.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 6rem 3rem 6rem;
  min-height: 100vh;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .home {
    padding: 3rem;
  }
}

@media (max-width: 500px) {
  .home {
    padding: 1rem;
  }
}
