.transactionTable {
  overflow: auto;
  border-collapse: collapse;
  border: none;
  width: 100%;
  line-height: 2rem;
}

.transactionTable thead {
  background-color: transparent;
  transition: all 0.25s ease;
  border-radius: 10px;
}

.transactionTable th {
  background-color: var(--table-dark-background);
  padding: 1rem;
  text-align: left;
  font-family: Roboto Bold;
  font-size: large;
  color: var(--text-color);
}

.transactionTable th:first-child {
  border-top-left-radius: 15px;
}

.transactionTable th:last-child {
  border-top-right-radius: 15px;
}

.transactionTable tbody tr {
  background-color: var(--table-dark-background);
}

.transactionTable tr:nth-child(odd) {
  background-color: var(--table-light-background);
}

.transactionTable td {
  padding: 1rem;
  color: white;
}

@media (max-width: 1200px) {
  .transactionTable {
    display: block;
  }
}

@media (max-width: 1000px) {
  .transactionTable thead {
    font-size: 14px;
  }

  .transactionTable tbody {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .transactionTable thead {
    font-size: 12px;
  }

  .transactionTable tbody {
    font-size: 10px;
  }
}
