.transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 6rem 3rem 6rem;
  color: var(--text-color);
}

.returnButton {
  align-self: baseline;
}

.returnButton button {
  border: none;
  padding: 7px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  color: white;
  background-color: var(--table-dark-background);
}

.returnButton button:hover {
  background-color: var(--table-hover-color);
}

@media (max-width: 700px) {
  .transactions {
    padding: 3rem;
  }
}

@media (max-width: 500px) {
  .transactions {
    padding: 1rem;
  }
}
